<body>
<center>
  <h1>Création d'utilisateurs !</h1>

  <!-- ################### Création du formulaire en Form_tag ################### -->
  <form action="/" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <fieldset>
      <legend>Informations personelles</legend>
      Username:<br>
      <input type="text" name="username" placeholder="Ecrit ton username"><br><br>
      Email:<br>
      <input type="text" name="email" placeholder="Ecrit ton email"><br><br>
      Bio:<br>
      <textarea name="bio" cols="30" rows="10" placeholder="Ecrit ta bio"></textarea><br><br>
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </fieldset>
  </form>

  <!-- ################### Création du formulaire en Form_tag ################### -->
  <br><br><br><br>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
  <%= field_set_tag 'Informations personnelles' do %>

  <p>Entre ton username</p>
  <%= text_field_tag 'username' %><br><br>

  <p>Entre ton email</p>
  <%=email_field_tag 'email'%><br><br>

  <p>Complete ta bio</p>
  <%=text_area_tag 'bio' %><br><br>

  <%= submit_tag "Envoyer", data: { confirm: "Es-tu sur ?" } %>
  <% end %>
  <% end %>


  <!-- ################### Création du formulaire en Form_for ################### -->
  <%= form_for :user do |f| %>
  Username : <br> <%= f.text_field :username %><br /><br>
  email : <br> <%= f.text_field :email %><br /><br>
  Biographie : <br> <%= f.text_area :bio %><br /><br>
  <%= f.submit %>
  <% end %>
  

</center>
</body>